@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  @apply bg-white dark:bg-gray-950 size-full overflow-hidden;

  @media (prefers-color-scheme: dark) {
    color-scheme: dark;
  }
}

.w-except-10 {
  width: calc(100% - 3rem);
}

.w-except-11 {
  width: calc(100% - 2.75rem);
}

.w-except-12 {
  width: calc(100% - 3rem);
}

.h-except-10 {
  height: calc(100% - 2.6rem);
}

.w-0\.75 {
  width: 0.1875rem;
}

button {
  box-shadow: none;
  border-radius: 0;
  border: 0;
}

button:focus-visible {
  border: none;
}

.overflow-hide {
  @apply overflow-hidden text-ellipsis whitespace-nowrap;
}

.cannot-select {
  /* can not select */
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

* {
  animation: none !important;
}
